* {
  background-color: rgb(240, 240, 134);
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 60%;
  margin: 30px;
  padding-top: 20px;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
  background-color: wheat;
}

.movie-card-image {
  width: 90%;
}

.movie-card-storyline {
  width: 50%;
  text-align: center;
  background-color: wheat;
}

.movie-card-title {
  font-size: 35px;
  background-color: wheat;
}

.page-title {
  text-align: center;
  background-color: rgb(240, 240, 134);
  font-weight: 900;
  font-size: 40px;
}

.rating {
  background-color: wheat;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.movie-card-subtitle {
  background-color: wheat;
  font-size: 18px;
}
